.app__wrapper {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: minmax(180px, auto) 1fr;
  grid-template-areas: 'navMenu header'
                       'navMenu content';
  min-height: 100dvh;
  color: white;
  background-color:#1a202c;
  gap: 1.75em 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.app__header {
  grid-area: header;
  width: 100%;
  padding: 1.5em 1.25em;
}


.aside__menu {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 2em 1em;
  overflow: hidden;
  background-color: #2d3748;
  grid-area: navMenu;
}

.aside__menu nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__content {
  grid-area: content;
}

.searcher__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* & input {
    width: auto;
  } */
}